<% if @bakery.picture != "" %>
<section class="probootstrap-cover" style="background-image:url(<%= image_url @bakery.picture  %>)">
  <div class="container">
    <div class="row probootstrap-vh-75 align-items-center text-left">
      <div class="col-sm">
        <div class="probootstrap-text pt-5">
          <h1 class="probootstrap-heading text-white mb-4">
            <strong>Company name:</strong>
            <%= @bakery.company_name %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<% else %>
<section class="probootstrap-cover">
  <div class="container">
    <div class="row probootstrap-vh-75 align-items-center text-left">
      <div class="col-sm">
        <div class="probootstrap-text pt-5">
          <h1 class="probootstrap-heading text-white mb-4">
            <strong>Company name:</strong>
            <%= @bakery.company_name %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>


<section class="probootstrap-section">
  <div class="container">
    <% if @bakery.user_id == current_user.id %>
      <%= link_to 'Add Product', new_product_path %><br>
      <%= link_to 'Edit Bakery Profile', edit_bakery_path(@bakery) %><br>
    <% end %>

    <%= link_to 'Back', bakeries_path %>
  </div>
</section>