<img class="card-img-top" src="<%= image_url @bakery.picture  %>" alt="Card image cap">
<p>
  <strong>Company name:</strong>
  <%= @bakery.company_name %>
</p>

<h3> Products :</h3>

<% if @bakery.user_id == current_user.id %>
  <%= link_to 'Add Product', new_product_path %><br>
  <%= link_to 'Edit Bakery Profile', edit_bakery_path(@bakery) %><br>
<% end %>

<%= link_to 'Back', bakeries_path %>
