<section class="probootstrap-cover">
  <div class="container">
    <div class="row align-items-center text-left" style="padding-top:5em;">
      <div class="col-sm">
        <div class="probootstrap-text pt-5">
          <h1 class="probootstrap-heading text-white mb-4">Categories</h1>
          <div class="probootstrap-subheading mb-5">
            <p><%= link_to 'New Category', new_category_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section">
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
        <% @categories.each_with_index do |category, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= category.name %></td>
            <td><%= link_to 'Show', category %></td>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>