<section class="probootstrap-cover">
  <div class="container">
    <div class="row align-items-center text-left" style="padding-top:5em;">
      <div class="col-sm">
        <div class="probootstrap-text pt-5">
          <% if current_user.baker? %>
            <h1 class="probootstrap-heading text-white mb-4">All Products</h1>
          <% end %>
          <div class="probootstrap-subheading mb-5">
            <%= link_to 'New Product', new_product_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section">
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Picture</th>
        <th scope="col">Bakery</th>
        <th scope="col">Category</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <% @products.each_with_index do |product, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.price %> €</td>
          <td><%= product.quantity %></td>
          <td><%= product.picture %></td>
          <td><%= product.bakery.company_name %></td>
          <td><%= product.category.name %></td>
          <td><%= link_to 'Show', product %></td>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>