<!DOCTYPE html>
<html>
<head>
  <title>Wake Up</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if notice %>
  <p class="alert alert-warning"><%= notice %></p>
<% elsif alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="container-fluid">
  <ul class="nav">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Edit account', edit_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign out', destroy_user_session_path, :method => 'delete', class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Sign in', new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li class="nav-item">

        <%= link_to 'Users', edit_user_registration_path(current_user), class: "nav-link" %>
      </li>
    <% end %>
  </ul>



  <div class="container">
    <%= yield %>
  </div>
</div>
</body>
</html>